{% extends 'portapp/base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portapp/ferdous.jpg' %}" class="img-fluid">
  </div>
</div>



<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Ferdous ahmed is a django developer from Bangladesh 😊</h1>
  </div>
</div>


<h2 class="mt-1">Portfolio</h2>
<div class="row">
  {% for port in port %}
  <div class="col-lg-4 col-md-6">

    {% if port.url %}
    <a href="{{ port.url }}">
      <img src="{{ port.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ port.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3><a href="{%url 'project_list'%}">{{ port.title }}</a> </h3>
    <p>{{ port.description }}</p>

  </div>
  {% endfor %}
</div>
{% endblock  %}