{% extends 'portapp/base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portapp/ferdous.jpg' %}" class="img-fluid">
  </div>
</div>



<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Ferdous ahmed is a django developer from Bangladesh 😊</h1>
  </div>
</div>







{% for port in port %}
<h1><a href="{% url 'webapp'%}">{{port.title}}</a></h1>

<br>
<img src="{{port.image.url}}"/>

<br>
<p>{{port.description}}</p>
<h2><a  href="{%url 'project_list'%}">{{port.projects}}</a></h2>
<a  href="{%url 'project_list'%}">
<h1>My projects</h1>
</a>


{% endfor %}
{% endblock  %}