{% extends 'portapp/base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portapp/ferdous.jpg' %}" class="img-fluid">
  </div>
</div>



<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Ferdous ahmed is a django developer from Bangladesh 😊</h1>
  </div>
</div>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Hey there how is it going!</h1>
            <p>In this troubled time the demand of online services are increasing everyday.and here i am <u>  So here i am a fullstack developer and software engineer </u><b><i>To help you grow your business in this troubled time</i></b> and  to help you make sense of all of your opportunities. Your new organized life awaits.So checkout my websites and let me help u to have a wonderful organized website with your desired design and functionality.</p>
        
         <a role="button" class="btn btn-primary btn-lg" href="{% url 'contact' %}">Contact me </a>
         <h3><span class="badge badge-secondary">My Websites(check the links below)</span></h3>
        </div>
        
    </div>


<div class="row">
  {% for port in port %}
  <div class="col-lg-4 col-md-6">
    
    {% if port.url %}
    <img src="{{ port.image.url }}" class="img-fluid mb-2">
    <a href="{{ port.url }}">
     <h4><span class="badge badge-danger">{{port.port_title}}</span></h4>
    </a>
    
    {% else %}

    <img src="{{ port.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h4>{{port.title}}</h4>
    <p>{{ port.description }}</p>

  </div>
  {% endfor %}
</div>
{% endblock  %}